.modal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    display: none;
}

.modal.active {
    display: flex;
    align-items: center;
    justify-content: center;
}

h3 {
    margin: 0;
}

.modal-title {
    display: flex;
    justify-content: space-between;
}

.modal-title button {
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

.modal-content {
    max-width: 400px;
    border: 1px solid red;
    padding: 20px;
}