.modal-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: gray;
    display: none;
}

.modal-container.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    width: 450px;
    padding: 12px;
}

.modal-head {
    border-bottom: 1px solid blue;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0 -12px;
}

.modal-head button {
    float: right;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.modal-body {
    margin-top: 8px;
}