.slideshow-gallery-container {
    max-width: 1200px;
    max-height: 420px;
    overflow: hidden;
    margin: 0 auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: relative;
}

.slide {
    display: none;
    width: 100%;
}

.slide.active {
    display: block;
}

.slide .slide-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.left-button,
.right-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    padding: 8px 4px;
    font-size: 32px;
    background-color: transparent;
    color: red;
    cursor: pointer;
}

.left-button:hover,
.right-button:hover {
    background-color: gray;
}

.left-button {
    left: 8px;
}

.right-button {
    right: 8px;
}

.slide .nav-num {
    position: absolute;
    top: 4px;
    left: 4px;
    color: red;
}