.title {
    background-color: yellow;
}

.content {
    max-height: 0;
    transition: max-height 1s ease-in-out;
    overflow: hidden;
    background-color: red;
}

.content.active {
    max-height: 500px;
    transition: max-height 1s;
}

.icon {
    border: none;
    background-color: transparent;
    cursor: pointer;
}