.title {
    border: none;
    background-color: lightgray;
    cursor: pointer;
    width: 100%;
}

.content {
    height: 0;
    overflow: hidden;
    background-color: yellow;
    transition: height 0.3s ease-out;
}

.content.active {
    height: 100px;
}