.tabs-header {
    display: flex;
    background-color: lightgray;
}

.tabs-header button {
    border: none;
    padding: 12px;
    background-color: lightgray;
}

.tabs-header .tab-button:hover {
    background-color: darkgray;
    cursor: pointer;
}

.tabs-header .tab-button.active {
    background-color: darkgray;
}

.content {
    display: none;
}

.content.selected {
    display: block;
}