.tabs {
    background-color: lightgray;
    display: flex;
}

.tab {
    padding: 12px 14px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.tab:hover,
.tab.active {
    background-color: darkgray;
    color: white;
}

.content {
    display: none;
}

.content.active {
    display: block;
}